.algolia-popup {
    overflow: hidden; 
    padding: 0;
}

@media (max-width: 767px){
.content-wrap {
    width: 100%;
    padding: 20px;
    min-height: auto;
}
.container{
 z-index:3000
}
.popup {
    padding: 3px;
    top: 0;
    left: 0;
    margin: 0;
    width: 100%;
    height: 100%;
    border-radius: 0px;
}}